*, *::before, *::after {
    margin: 0;
    background-color: #fcfaf2;
}

html, body {
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    font-size: 24px;    
    color: #444444;
}

.content {
    height: 100vh;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.background {
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    opacity: 0.5;
}

.title {
    text-align: center;
    font-family: lobster, 'Roboto', sans-serif;
    font-family: 'Lobster', cursive;
    margin-bottom: 200px;
    margin-top: 20px;
    opacity: 1;
    font-size: 48px;
}

h3 {
    background-color: white;
}

.cards {
    height: 400px;
    max-height: 400px;
    min-height: 400px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.term, .definition {
    border: solid 3px #c6cad4;
    text-align: center;
    border-radius: 16px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 0px 2px #c6cad4);
}

.term {
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 600px;
}

.definition {
    margin-top: 30px;
        margin-bottom: 100px;
        max-width: 600px;
}

.button {
    text-align: center;
    margin-top: 100px;      
}

button { 
    padding: 20px 20px;
    border-radius: 16px;
    cursor: pointer;
    width: 200px;
    border: none;
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
    color: #282a2f;
}

.next {
    background-color:#ffbb00;
    box-shadow: 2px 5px #e4a900;
}

.check {
    background-color:#dddcdd;
    box-shadow: 2px 5px #c6c6c6;

    
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.audio {
    margin-top: 20px;
    text-align: center;
}


@media (max-width:768px) {
    .title {
        margin-bottom: 80px;
    }

    .audio {
        margin-bottom: 20px;        
    }

    .button {
        margin-top: 6px;
    }
    .term {
        margin-bottom: 60px;
        width: 360px;
    }
    .definition {
        width: 360px;
    }
}

audio {
    margin-bottom: 20px;
}

img {
    height: 30px;
    width: 100%;
    cursor: pointer;
}